<div class="container">
  <h2 class="title">
    Education
  </h2>
  <h3 class="education-headline">
    Education/Additional education:
  </h3>

  <h4 class="first-education">
    September 2012 – June 2016:
    <span>
      Kharkiv autotransportnuy College Faculty: car and engine maintenance
    </span>
  </h4>

  <h4 class="second-education">
    September 2016:
    <span>
      entered the Academy of Physical Culture Faculty: physical education and human health. Physical rehabilitation
    </span>
  </h4>

</div>
